@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #18181b;
  --text-color: #a1a1aa;
  --text-color-hover: #c8c8d6;
  --card-background-color: #202024;
  --card-border-color: rgba(255, 255, 255, 0.1);
  --card-box-shadow-1: rgba(0, 0, 0, 0.05);
  --card-box-shadow-1-y: 3px;
  --card-box-shadow-1-blur: 6px;
  --card-box-shadow-2: rgba(0, 0, 0, 0.1);
  --card-box-shadow-2-y: 8px;
  --card-box-shadow-2-blur: 15px;
  --color-primary: #00b2f3;
  --color-secundary: #ff1089;
  --bg-3: #0194c9;
  --bg-4: #353535;
  --txt-1: #969fa8;
  --txt-2: #565656;
}

:root.light {
  --text-color: #52525b;
  --text-color-hover: #222225;
  --background-color: #f4f7f7;
  --card-background-color: #ffffff;
  --card-border-color: rgba(24, 24, 27, 0.08);
  --card-box-shadow-1: rgba(24, 24, 27, 0.02);
  --card-box-shadow-1-y: 3px;
  --card-box-shadow-1-blur: 6px;
  --card-box-shadow-2: rgba(24, 24, 27, 0.04);
  --card-box-shadow-2-y: 2px;
  --card-box-shadow-2-blur: 7px;
}
body {
  min-height: 100vh;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
  overflow-x: hidden;
  margin: auto;
  transition: all;
  transition-duration: 500ms;
}

@layer utilities {
  .box-shadow-1 {
    box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur)
        var(--card-box-shadow-1),
      0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur)
        var(--card-box-shadow-2),
      0 0 0 1px var(--card-border-color);
  }
}

.day-night {
  cursor: pointer;
  right: 10px;
  top: 10px;
  opacity: 1;
}
.day-night input {
  display: none;
}
.day-night input + div {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  box-shadow: inset 8px -8px 0 0 var(--text-color);
  transform: scale(1) rotate(-2deg);
  transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
}
.day-night input + div:before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  transition: background-color 0.3s ease;
}
.day-night input + div:after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: -3px 0 0 -3px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 -23px 0 var(--text-color), 0 23px 0 var(--text-color),
    23px 0 0 var(--text-color), -23px 0 0 var(--text-color),
    15px 15px 0 var(--text-color), -15px 15px 0 var(--text-color),
    15px -15px 0 var(--text-color), -15px -15px 0 var(--text-color);
  transform: scale(0);
  transition: all 0.3s ease;
}
.day-night input:checked + div {
  box-shadow: inset 20px -20px 0 0 var(--text-color);
  transform: scale(0.5) rotate(0deg);
  transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;
}
.day-night input:checked + div:before {
  background: var(--text-color);
  transition: background-color 0.3s ease 0.1s;
}
.day-night input:checked + div:after {
  transform: scale(1);
  transition: transform 0.5s ease 0.15s;
}
